flows.json
[{"id":"84c2b59b.f25e48","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"db0fb098.45fe5","type":"watson-conversation-v1","z":"84c2b59b.f25e48","name":"","workspaceid":"53c8039f-1699-4fb6-aeae-cc25318a024a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/25017c5b-54fb-4748-a365-120d441a810e","timeout":"","optout-learning":false,"x":400,"y":140,"wires":[["ab924f82.a4c7"]]},{"id":"3f7d4d03.0d2552","type":"inject","z":"84c2b59b.f25e48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"good morning","payloadType":"str","x":190,"y":60,"wires":[["db0fb098.45fe5"]]},{"id":"55c71b64.156274","type":"debug","z":"84c2b59b.f25e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":60,"wires":[]},{"id":"ab924f82.a4c7","type":"function","z":"84c2b59b.f25e48","name":"Parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":100,"wires":[["862996c0.b599e8","55c71b64.156274"]]},{"id":"edc3a227.3f4fe","type":"ui_form","z":"84c2b59b.f25e48","name":"","label":"","group":"cc47654a.627198","order":1,"width":0,"height":0,"options":[{"label":"Enter user input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":180,"wires":[["54a13226.8d57ec"]]},{"id":"54a13226.8d57ec","type":"function","z":"84c2b59b.f25e48","name":"Input Parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":240,"wires":[["db0fb098.45fe5","b2953618.3d6028"]]},{"id":"b2953618.3d6028","type":"ui_text","z":"84c2b59b.f25e48","group":"cc47654a.627198","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":390,"y":320,"wires":[]},{"id":"862996c0.b599e8","type":"ui_text","z":"84c2b59b.f25e48","group":"cc47654a.627198","order":3,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-left","x":760,"y":140,"wires":[]},{"id":"cc47654a.627198","type":"ui_group","z":"","name":"Movie Ticketing Chat Bot ","tab":"db281a3c.554f88","order":1,"disp":true,"width":7,"collapse":false},{"id":"db281a3c.554f88","type":"ui_tab","z":"","name":"Booking","icon":"dashboard","disabled":false,"hidden":false}]